.content {
  display: table;
  width: 100%;
  min-height: 102.4rem;
  background-color: $defaultContentBackground;
  padding-top: 0.5rem;

  .inner-content {
    display: table-cell;
    background-color: $innerContentBackgroundColor;
    width: 80%;
  }
}