// Navigation
.navigation {
  background-color: transparent;
  text-align: left;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: #222;
  }

  // Nav Item
  .nav-item {
    display: inline-block;

    // Nav Link
    .nav-link {
      display: block;
      padding: 1rem;
      color: #FFF;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 0.5rem;

      @extend .fa;

      // Link Home
      &.link-home {
        @extend .fa-home;
      }

      // Link Users
      &.link-users {
        @extend .fa-users;
      }

      // Link Email
      &.link-email {
        @extend .fa-envelope;
      }

      // Link Facebook
      &.link-facebook {
        @extend .fa-facebook-square;
      }
    }
  }
}