// Sidebar
.sidebar {
  padding: 0  1rem;
  width: 5%;
  display: table-cell;
  height: 100%;
  background-color: $sidebarBackgroundColor;

  // Sidebar Expanded
  &.expanded {
    width: 15%;
  }

  // Sidebar Section
  .sidebar-section {
    // Sidebar Section Posts
    &.section-posts {

    }

    // Sidebar Section Tags
    &.section-tags {

    }

    // Title
    .title {
      font: 2rem 'Times New Roman';
      color: $white;
    }
  }
}